git+https://github.com/ai-cfia/llamaindex-db@main#subdirectory=ailab-llamaindex-search
azure-search-documents==11.5.3
flask==3.1.0
flask-cors==5.0.1
gunicorn==23.0.0
python-dotenv==1.0.1
git+https://github.com/ai-cfia/azure-db.git@main#subdirectory=azure-ai-search
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.1
