git+https://github.com/ai-cfia/llamaindex-db@main#subdirectory=ailab-llamaindex-search
azure-search-documents==11.4.0
flask==3.0.3
flask-cors==4.0.0
gunicorn==22.0.0
python-dotenv==1.0.1
git+https://github.com/ai-cfia/azure-db.git@main#subdirectory=azure-ai-search
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.0
