azure-search-documents
flask
flask-cors
gunicorn
python-dotenv
git+https://github.com/ai-cfia/azure-db.git@main#subdirectory=azure-ai-search
fuzzywuzzy
python-Levenshtein
git+https://github.com/ai-cfia/ailab-db@main
locust
locust-plugins[dashboards]
