azure-search-documents
flask
flask-cors
gunicorn
python-dotenv
git+https://github.com/ai-cfia/azure-db.git@k-allagbe/experimenting-stuff#subdirectory=azure-ai-search
fuzzywuzzy
python-Levenshtein
git+https://github.com/ai-cfia/ailab-db@main
